.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('http://i.a4vn.com/2017/2/18/ngam-nhin-hinh-anh-girl-xinh-gai-dep-hot-nhat-viet-nam-bfa2af.jpg');
    background-size: cover;
  }