.title {
    text-align: center;
}

.text-table {
    text-align: center;
    
}

.box-shadow-table {
    /* box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important; */
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.body-table {
    background-color: #fafafa;
}

.body-table input{
    
    margin: 10px 0px 20px -16px ;

}