<mat-card [ngClass]="isSend ? 'example-card' : ''" >
    <div *ngIf="!isSend">
        <h3><strong>Success!</strong> Gửi lấy lại password thành công vui lòng vào inbox Email {{ emailUser }}  để kiểm tra thư và làm theo hướng dẫn.</h3>
    </div>

    

    <div class="wrap" *ngIf="isSend">
        <mat-card-header>
            <mat-card-title>Forgot</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form" [formGroup]="forgotForm" (ngSubmit)="onForgot()">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Username" formControlName="username" name="username"
                                    required>
                            </mat-form-field>
                            <br><span class="validate" *ngIf="isValid('username')">Username is required and more 6
                                characters</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Email" formControlName="email" type="email"
                                    name="email" required>
                            </mat-form-field>
                            <br><span class="validate" *ngIf="isValid('email')">Email difference
                                abcdeft@abc.com </span>
                        </td>
                        
                    </tr>
                </table>
                <mat-card-actions>
                    <button mat-raised-button type="submit" color="primary"
                        [disabled]="forgotForm.invalid">Forgot</button>
                </mat-card-actions>
            </form>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>


    </div>
</mat-card>